@charset "UTF-8";

/*共通部分*/
html {
    font-size: 100%;
}

body {
    font-family: "筑紫B丸ゴシック レギュラー";
    line-height: 1.7;
    color: #fff;
    background: #fafce9;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
/*ヘッダー*/
.logo {
    width: 300px;
    margin-top: 1px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 26px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #fff;
}

.main-nav a:hover {
    color: yellow;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*フッター*/
footer {
    background: rgb(51, 24, 7);
    text-align: center;
    padding: 1px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

/*ホーム*/
.home-content {
    text-align: center;
    margin-top: 10%;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
/*ホーム見出し*/
.page-title {
    font-size: 3rem;
    font-family: "筑紫B丸ゴシック レギュラー";
    text-transform: uppercase;
    font-weight: normal;
}

/*ホーム背景画像*/
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
    margin-bottom: 40px;
}

#home .page-title {
    text-transform: none;
    
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    margin-top: 1%;
    margin-bottom: 50px;
    color: #b87f2b;
}
.grid h1 {
    font-size: 24px;
}

h4 {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    color:  #b87f2b;
    border-top: dashed 3px #f3b558;
    border-bottom: dashed 3px #f3b558;
}

.works-button {
   position: relative;
   display: inset-block;
   padding: 0.25em 0.5em;
   text-decoration: none;
   color: rgb(112, 79, 6);
   background: rgb(248, 247, 174);
   border-bottom: solid 2px #e9df89;
   border-radius: 4px;
   box-shadow: 0px 2px 0 rgba(225, 225, 225, 0.2);
   font-weight: bold;
   text-align: center;
}

.works-button:active {
    border-bottom: solid 2px #89dee9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.profile{
    color: #b87f2b;
    font-size: 1.25rem;
    text-align: center;
}
.profile img{
    border-radius: 50%;
    width: 350px;
}

.txt-center {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 15px;
}

.ul-align-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name h7{
    text-align: center;
    font-size: 30px;
}